.transferHistory {
  text-align: left;

  th,
  td {
    &:first-child {
      padding-left: 0;
    }

    &:last-child,
    &:nth-last-child(2) {
      padding-right: 0 !important;
      text-align: right;
      width: initial;
    }
  }
}

.large {
  min-height: 50vh;
}

.small {
  min-height: 30vh;
}

.p2pTransferHistory {
  text-align: left;

  th,
  td {
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0 !important;
    }
  }
}
