:root {
  --to-profile-button-icon-fill: rgb(153, 153, 153);
  --to-profile-button-icon-fill-hover: rgb(128, 128, 128);
}

:global(.light-mode) {
  --to-profile-button-icon-fill: rgb(32, 36, 114);
  --to-profile-button-icon-fill-hover: rgb(39, 44, 140);
}

.link {
  & svg {
    fill: var(--to-profile-button-icon-fill);
  }

  &:hover svg {
    fill: var(--to-profile-button-icon-fill-hover);
  }
}
