.cr-order {
  .cr-tab-panel {
    .cr-tab {
      width: 100%;
    }

    &__navigation-container {
      display: inline-block;
      width: 100%;
    }
  }

  .cr-tab-content {
    .cr-order-item {
      &__content {
        .cr-dropdown {
          background-color: var(--order-dropdown-background-color);
        }
      }
    }
  }
}
