.field {
  border: 1px solid var(--input-border-color);

  :global(.input-group) {
    :global(.custom-input) {
      width: 100%;
    }

    label {
      color: var(--secondary-contrast-cta-color);
      margin-top: -12px !important;
    }
  }
}
