.cr-summary-field {
  align-items: center;
  display: flex;
  font-style: normal;
  font-weight: normal;
  justify-content: space-between;
  line-height: 100%;
  max-height: calc(var(--gap) * 5);

  &-message {
    color: var(--table-text-color);
  }

  &-content {
    color: var(--base-9);
  }
}
