.percentageButton {
  background: var(--dropdown-background-color-level-5);
  border-radius: var(--border-radius);
  border-width: 0;
  color: var(--primary-text-color-level-4);
  padding: 4px var(--gap);
  margin-left: var(--gap);

  @media (--breakpoint-down-md) {
    margin-left: 4px;
    min-width: 70px;
    line-height: 1;
  }
}

.percentageIcon {
  float: right;
}