market-docs/build
shared/build
web/build
web/public
web/docs
web/mocks
web/scripts
web/spec
web/src/charting_library

# files with problems
web/src/api/index.ts
web/src/api/requestBuilder.ts
web/src/assets/images/ArrowRight.tsx
web/src/assets/images/ChevronIcon.tsx
web/src/assets/images/ClockIcon.tsx
web/src/assets/images/CloseIcon.tsx
web/src/assets/images/LetterIcon.tsx
web/src/assets/images/LockIcon.tsx
web/src/assets/images/LockedIcon.tsx
web/src/assets/images/LogoIcon.tsx
web/src/assets/images/LogoutIcon.tsx
web/src/assets/images/MetaMaskLogo.tsx
web/src/assets/images/PendingIcon.tsx
web/src/assets/images/PlusIcon.tsx
web/src/assets/images/RejectedIcon.tsx
web/src/assets/images/SearchFieldCloseIcon.tsx
web/src/assets/images/kyc/CrossIcon.tsx
web/src/assets/images/sidebar/LogoutIcon.tsx
web/src/assets/images/sidebar/ProfileIcon.tsx
web/src/components/BlockchainIcon/BlockchainIcon.tsx
web/src/components/BlockchainIcon/BlockchainIcon2.tsx
web/src/components/Button/Button.tsx
web/src/components/Captcha/index.tsx
web/src/components/CombinedOrderBook/index.tsx
web/src/components/CopyableTextField/index.tsx
web/src/components/CustomInput/index.tsx
web/src/components/Customization/Images/ImageSettings/index.tsx
web/src/components/Customization/Images/index.tsx
web/src/components/Customization/Themes/ColorSettings/index.tsx
web/src/components/Customization/Themes/index.tsx
web/src/components/Customization/index.ts
web/src/components/DepositCrypto/DepositCrypto.tsx
web/src/components/DepositCrypto/DepositInvoice.tsx
web/src/components/Documentation/Endpoints/Item/RequestTypeItem/ParametersItem/index.tsx
web/src/components/Documentation/Endpoints/Item/RequestTypeItem/ResponsesItem/index.tsx
web/src/components/Documentation/Endpoints/Item/RequestTypeItem/index.tsx
web/src/components/Documentation/Endpoints/Item/index.tsx
web/src/components/Documentation/Endpoints/index.tsx
web/src/components/Documentation/Models/Item/index.tsx
web/src/components/Documentation/Models/index.tsx
web/src/components/Documentation/index.ts
web/src/components/EmailForm/index.tsx
web/src/components/FilterInput/index.tsx
web/src/components/History/index.tsx
web/src/components/Input/NumberInput.tsx
web/src/components/InternalTransfer/InternalInput.tsx
web/src/components/InternalTransfer/index.tsx
web/src/components/MarketDepths/index.tsx
web/src/components/Markets/index.tsx
web/src/components/MetaMaskButton/index.tsx
web/src/components/Modal/Modal.test.tsx
web/src/components/Modal/index.tsx
web/src/components/Order/Order.test.tsx
web/src/components/Order/index.tsx
web/src/components/OrderForm/index.tsx
web/src/components/OrderInput/index.tsx
web/src/components/Pagination/Pagination.test.tsx
web/src/components/Pagination/index.tsx
web/src/components/PasswordStrengthMeter/index.tsx
web/src/components/PercentageButton/index.tsx
web/src/components/QRCode/QRCode.test.tsx
web/src/components/Select/Select.tsx
web/src/components/SetupComponents/SetupCongratsBlock/index.tsx
web/src/components/SetupComponents/SetupFormBlock/index.tsx
web/src/components/SetupComponents/SetupFormInput/index.tsx
web/src/components/SetupComponents/SetupGeneralSettingsForm/index.tsx
web/src/components/SetupComponents/SetupInfoBlock/index.tsx
web/src/components/SetupComponents/SetupLoginForm/index.tsx
web/src/components/SetupComponents/SetupMarketsBlock/index.tsx
web/src/components/SetupComponents/SetupRegisterForm/index.tsx
web/src/components/SetupComponents/index.ts
web/src/components/SignIn/SignIn.test.tsx
web/src/components/SignIn/index.tsx
web/src/components/SignUp/index.tsx
web/src/components/TabPanel/index.tsx
web/src/components/Table/index.tsx
web/src/components/Tabs/TabPanel/TabPanel.tsx
web/src/components/Tabs/Tabs.tsx
web/src/components/Tabs/index.ts
web/src/components/TickerTable/index.tsx
web/src/components/TwoFactorAuth/index.tsx
web/src/components/UploadFile/index.tsx
web/src/components/index.ts
web/src/containers/Alerts/index.tsx
web/src/containers/CanCan/index.tsx
web/src/containers/Charts/index.tsx
web/src/containers/Confirm/Address/index.tsx
web/src/containers/Confirm/Documents/index.tsx
web/src/containers/Confirm/Identity/index.tsx
web/src/containers/Confirm/Phone/index.tsx
web/src/containers/Confirm/index.ts
web/src/containers/Customization/index.tsx
web/src/containers/ErrorBoundary/ErrorBoundary.tsx
web/src/containers/Errors/index.tsx
web/src/containers/Fees/TradingFees.tsx
web/src/containers/GeetestCaptcha/index.tsx
web/src/containers/Header/index.tsx
web/src/containers/HistoryElement/index.tsx
web/src/containers/LegalDocuments/index.tsx
web/src/containers/MarketDepth/index.tsx
web/src/containers/MarketSelector/MarketSelector.tsx
web/src/containers/MarketSelector/MarketSelectorItems/MarketSelectorItems.tsx
web/src/containers/MarketSelector/MarketSelectorSearchInput/MarketSelectorSearchInput.tsx
web/src/containers/MarketSelector/MarketSelectorTabs/MarketSelectorTabsDropdown.tsx
web/src/containers/Markets/index.tsx
web/src/containers/MarketsTable/index.tsx
web/src/containers/OpenOrders/helpers.ts
web/src/containers/OpenOrders/index.tsx
web/src/containers/Order/index.tsx
web/src/containers/OrderBook/index.tsx
web/src/containers/OrdersElement/index.tsx
web/src/containers/ProfileAccountActivity/index.tsx
web/src/containers/ProfileApiKeys/index.tsx
web/src/containers/ProfileAuthDetails/index.tsx
web/src/containers/ProfileTwoFactorAuth/index.tsx
web/src/containers/ProfileVerification/index.tsx
web/src/containers/QuickExchange/PriceLimit.tsx
web/src/containers/QuickExchange/QuickExchange.tsx
web/src/containers/QuickExchange/helpers.ts
web/src/containers/RecentTrades/Market.tsx
web/src/containers/RecentTrades/Yours.tsx
web/src/containers/RecentTrades/index.tsx
web/src/containers/ToolBar/MarketSelector/MarketsList/index.tsx
web/src/containers/ToolBar/MarketSelector/MarketsTabs/index.tsx
web/src/containers/ToolBar/MarketSelector/index.tsx
web/src/containers/ToolBar/PriceBar/index.tsx
web/src/containers/ToolBar/ProgressLabel/index.tsx
web/src/containers/ToolBar/icons/ArrowIcon.tsx
web/src/containers/ToolBar/index.tsx
web/src/containers/TradingChart/api.ts
web/src/containers/TradingChart/index.tsx
web/src/containers/Wallets/Estimated.tsx
web/src/containers/Wallets/Transfer.tsx
web/src/containers/Wallets/TransferHistory.tsx
web/src/containers/WalletsFetch/index.tsx
web/src/containers/index.ts
web/src/custom/translations/index.ts
web/src/custom/translations/ru.ts
web/src/helpers/auth0.ts
web/src/helpers/cleanPositiveFloatInput.ts
web/src/helpers/customizationSettings.ts
web/src/helpers/estimateValue.ts
web/src/helpers/getHistorySagaParam.ts
web/src/helpers/getOrderAPI.ts
web/src/helpers/getRandomString.ts
web/src/helpers/getTotalPrice.ts
web/src/helpers/getVerificationStep.ts
web/src/helpers/handleCCYPrecision.ts
web/src/helpers/handleIncrementalUpdate.test.ts
web/src/helpers/handleIncrementalUpdate.ts
web/src/helpers/hash.ts
web/src/helpers/helpers.test.ts
web/src/helpers/index.ts
web/src/helpers/isEqualArrays.ts
web/src/helpers/jest.ts
web/src/helpers/join.ts
web/src/helpers/lowerBound.ts
web/src/helpers/mergeObjects.ts
web/src/helpers/money.ts
web/src/helpers/order.ts
web/src/helpers/parseNumeric.ts
web/src/helpers/sliceString.ts
web/src/helpers/timezone.ts
web/src/helpers/toggleColorTheme.ts
web/src/helpers/validateBeneficiaryAddress.ts
web/src/hooks/useBeneficiariesFetch.ts
web/src/hooks/useFetch.ts
web/src/hooks/useOpenOrdersFetch.ts
web/src/mobile/assets/images/AddIcon.tsx
web/src/mobile/assets/images/CheckIcon.tsx
web/src/mobile/assets/images/ChevronIcon.tsx
web/src/mobile/assets/images/MinusIcon.tsx
web/src/mobile/assets/images/PlusIcon.tsx
web/src/mobile/assets/images/WarningIcon.tsx
web/src/mobile/assets/images/footer/HomeIcon.tsx
web/src/mobile/assets/images/footer/OrderIcon.tsx
web/src/mobile/assets/images/footer/ProfileIcon.tsx
web/src/mobile/assets/images/footer/TradeIcon.tsx
web/src/mobile/assets/images/footer/WalletIcon.tsx
web/src/mobile/components/CreatedApiKeyModal/index.tsx
web/src/mobile/components/CurrentMarketInfo/index.tsx
web/src/mobile/components/Header/index.tsx
web/src/mobile/components/Modal/index.tsx
web/src/mobile/components/OpenOrders/index.tsx
web/src/mobile/components/OrderButtons/index.tsx
web/src/mobile/components/OrderInput/index.tsx
web/src/mobile/components/Orders/OrdersItem.tsx
web/src/mobile/components/Orders/index.tsx
web/src/mobile/components/Profile/ApiKeysItem/index.tsx
web/src/mobile/components/Profile/ProfileLinks/index.tsx
web/src/mobile/components/Profile/UserActivityItem/index.tsx
web/src/mobile/components/Subheader/index.tsx
web/src/mobile/components/TradingTabs/Charts/index.tsx
web/src/mobile/components/TradingTabs/CreateOrder/index.tsx
web/src/mobile/components/TradingTabs/index.tsx
web/src/mobile/components/TwoFactorModal/index.tsx
web/src/mobile/components/WalletHeader/index.tsx
web/src/mobile/components/WalletItem/index.tsx
web/src/mobile/components/index.ts
web/src/mobile/screens/ProfileAccountActivity/index.tsx
web/src/mobile/screens/ProfileApiKeys/index.tsx
web/src/mobile/screens/ProfileColorTheme/index.tsx
web/src/mobile/screens/ProfileLanguage/index.tsx
web/src/mobile/screens/SelectedWalletScreen/WalletMobileScreen.tsx
web/src/mobile/screens/index.ts
web/src/modules/admin/config/actions.ts
web/src/modules/admin/config/index.ts
web/src/modules/admin/config/reducer.ts
web/src/modules/admin/config/sagas/configUpdateSaga.test.ts
web/src/modules/admin/config/sagas/configUpdateSaga.ts
web/src/modules/admin/config/sagas/index.ts
web/src/modules/admin/config/selectors.ts
web/src/modules/admin/markets/index.ts
web/src/modules/admin/markets/reducer.ts
web/src/modules/admin/markets/sagas/getMarketsSaga.ts
web/src/modules/admin/markets/sagas/index.ts
web/src/modules/admin/markets/sagas/updateMarketSaga.ts
web/src/modules/admin/markets/selectors.ts
web/src/modules/admin/platform/actions.ts
web/src/modules/admin/platform/index.ts
web/src/modules/admin/platform/reducer.ts
web/src/modules/admin/platform/sagas/index.ts
web/src/modules/admin/platform/sagas/platformDataCreateSaga.ts
web/src/modules/admin/platform/selectors.ts
web/src/modules/app.ts
web/src/modules/index.ts
web/src/modules/public/alert/actions.test.ts
web/src/modules/public/alert/index.ts
web/src/modules/public/alert/reducer.ts
web/src/modules/public/alert/sagas/handleAlertSaga.ts
web/src/modules/public/alert/sagas/handleErrorAlert.test.ts
web/src/modules/public/alert/sagas/handleSuccessAlert.test.ts
web/src/modules/public/alert/sagas/index.ts
web/src/modules/public/alert/selectors.ts
web/src/modules/public/blocklistAccess/actions.ts
web/src/modules/public/blocklistAccess/index.ts
web/src/modules/public/blocklistAccess/reducer.ts
web/src/modules/public/blocklistAccess/sagas/blocklistAccessFetchSaga.test.ts
web/src/modules/public/blocklistAccess/sagas/blocklistAccessFetchSaga.ts
web/src/modules/public/blocklistAccess/sagas/index.ts
web/src/modules/public/blocklistAccess/selectors.ts
web/src/modules/public/currencies/actions.ts
web/src/modules/public/currencies/defaults.ts
web/src/modules/public/currencies/index.ts
web/src/modules/public/currencies/reducer.ts
web/src/modules/public/currencies/sagas/currenciesFetchSaga.test.ts
web/src/modules/public/currencies/sagas/currenciesFetchSaga.ts
web/src/modules/public/currencies/selectors.ts
web/src/modules/public/errorHandler/index.ts
web/src/modules/public/errorHandler/reducer.ts
web/src/modules/public/errorHandler/sagas/handleErrorSaga.ts
web/src/modules/public/errorHandler/sagas/index.ts
web/src/modules/public/globalSettings/index.ts
web/src/modules/public/globalSettings/reducer.ts
web/src/modules/public/globalSettings/selectors.ts
web/src/modules/public/gridLayout/index.ts
web/src/modules/public/gridLayout/reducer.ts
web/src/modules/public/gridLayout/selectors.ts
web/src/modules/public/i18n/index.ts
web/src/modules/public/i18n/reducer.ts
web/src/modules/public/i18n/selectors.ts
web/src/modules/public/kline/actions.ts
web/src/modules/public/kline/index.ts
web/src/modules/public/kline/reducer.ts
web/src/modules/public/kline/sagas/handleKlineFetchSaga.test.ts
web/src/modules/public/kline/sagas/handleKlineFetchSaga.ts
web/src/modules/public/kline/sagas/index.ts
web/src/modules/public/kline/selectors.ts
web/src/modules/public/markets/actions.ts
web/src/modules/public/markets/index.ts
web/src/modules/public/markets/reducer.ts
web/src/modules/public/markets/sagas/index.ts
web/src/modules/public/markets/sagas/marketPriceSaga.ts
web/src/modules/public/markets/sagas/marketsFetchSaga.test.ts
web/src/modules/public/markets/sagas/marketsFetchSaga.ts
web/src/modules/public/markets/sagas/tickersSaga.ts
web/src/modules/public/markets/selectors.ts
web/src/modules/public/memberLevels/actions.ts
web/src/modules/public/memberLevels/index.ts
web/src/modules/public/memberLevels/reducer.ts
web/src/modules/public/memberLevels/sagas/index.ts
web/src/modules/public/memberLevels/sagas/memberLevelsSaga.test.ts
web/src/modules/public/memberLevels/sagas/memberLevelsSaga.ts
web/src/modules/public/memberLevels/selectors.ts
web/src/modules/public/orderBook/actions.ts
web/src/modules/public/orderBook/index.ts
web/src/modules/public/orderBook/reducer.ts
web/src/modules/public/orderBook/sagas/depthSaga.test.ts
web/src/modules/public/orderBook/sagas/depthSaga.ts
web/src/modules/public/orderBook/sagas/index.ts
web/src/modules/public/orderBook/sagas/orderBookSaga.test.ts
web/src/modules/public/orderBook/sagas/orderBookSaga.ts
web/src/modules/public/orderBook/selectors.ts
web/src/modules/public/orderBook/types.ts
web/src/modules/public/quickExchangePublic/reducer.ts
web/src/modules/public/quickExchangePublic/sagas/index.ts
web/src/modules/public/quickExchangePublic/sagas/quickExchangeLimitsSaga.ts
web/src/modules/public/ranger/actions.ts
web/src/modules/public/ranger/helpers.test.ts
web/src/modules/public/ranger/helpers.ts
web/src/modules/public/ranger/reducer.ts
web/src/modules/public/ranger/sagas/rangerSaga.test.ts
web/src/modules/public/ranger/sagas/rangerSaga.ts
web/src/modules/public/recentTrades/actions.ts
web/src/modules/public/recentTrades/index.ts
web/src/modules/public/recentTrades/reducer.ts
web/src/modules/public/recentTrades/sagas/index.ts
web/src/modules/public/recentTrades/sagas/recentTradesFetchSaga.test.ts
web/src/modules/public/recentTrades/sagas/recentTradesFetchSaga.ts
web/src/modules/public/recentTrades/selectors.ts
web/src/modules/types.ts
web/src/modules/user/abilities/index.ts
web/src/modules/user/abilities/reducer.ts
web/src/modules/user/abilities/sagas/abilitiesSaga.ts
web/src/modules/user/abilities/sagas/index.ts
web/src/modules/user/abilities/selectors.ts
web/src/modules/user/apiKeys/actions.ts
web/src/modules/user/apiKeys/index.ts
web/src/modules/user/apiKeys/reducer.ts
web/src/modules/user/apiKeys/sagas/apiKeyCreateSaga.test.ts
web/src/modules/user/apiKeys/sagas/apiKeyCreateSaga.ts
web/src/modules/user/apiKeys/sagas/apiKeyDeleteSaga.test.ts
web/src/modules/user/apiKeys/sagas/apiKeyDeleteSaga.ts
web/src/modules/user/apiKeys/sagas/apiKeyUpdateSaga.test.ts
web/src/modules/user/apiKeys/sagas/apiKeyUpdateSaga.ts
web/src/modules/user/apiKeys/sagas/apiKeysSaga.test.ts
web/src/modules/user/apiKeys/sagas/apiKeysSaga.ts
web/src/modules/user/apiKeys/sagas/index.ts
web/src/modules/user/auth/actions.ts
web/src/modules/user/auth/index.ts
web/src/modules/user/auth/reducer.ts
web/src/modules/user/auth/sagas/entropyPassword.ts
web/src/modules/user/auth/sagas/index.ts
web/src/modules/user/auth/sagas/logoutSaga.test.ts
web/src/modules/user/auth/sagas/logoutSaga.ts
web/src/modules/user/auth/sagas/signInSaga.test.ts
web/src/modules/user/auth/sagas/signInSaga.ts
web/src/modules/user/auth/sagas/signUpSaga.ts
web/src/modules/user/auth/sagas/verificationSaga.ts
web/src/modules/user/auth/selectors.ts
web/src/modules/user/beneficiaries/actions.ts
web/src/modules/user/beneficiaries/index.ts
web/src/modules/user/beneficiaries/reducer.ts
web/src/modules/user/beneficiaries/sagas/beneficiariesActivateSaga.test.ts
web/src/modules/user/beneficiaries/sagas/beneficiariesActivateSaga.ts
web/src/modules/user/beneficiaries/sagas/beneficiariesCreateSaga.test.ts
web/src/modules/user/beneficiaries/sagas/beneficiariesCreateSaga.ts
web/src/modules/user/beneficiaries/sagas/beneficiariesDeleteSaga.test.ts
web/src/modules/user/beneficiaries/sagas/beneficiariesDeleteSaga.ts
web/src/modules/user/beneficiaries/sagas/beneficiariesResendPinSaga.test.ts
web/src/modules/user/beneficiaries/sagas/beneficiariesResendPinSaga.ts
web/src/modules/user/beneficiaries/sagas/beneficiariesSaga.test.ts
web/src/modules/user/beneficiaries/sagas/beneficiariesSaga.ts
web/src/modules/user/beneficiaries/sagas/index.ts
web/src/modules/user/beneficiaries/selectors.ts
web/src/modules/user/captcha/actions.ts
web/src/modules/user/captcha/index.ts
web/src/modules/user/captcha/reducer.ts
web/src/modules/user/captcha/sagas/geetestCaptchaSaga.ts
web/src/modules/user/captcha/sagas/index.ts
web/src/modules/user/captcha/selectors.ts
web/src/modules/user/deposits/actions.ts
web/src/modules/user/deposits/index.ts
web/src/modules/user/deposits/reducer.ts
web/src/modules/user/deposits/sagas/depositsCreateSaga.ts
web/src/modules/user/deposits/sagas/index.ts
web/src/modules/user/deposits/selectors.ts
web/src/modules/user/documentation/actions.ts
web/src/modules/user/documentation/index.ts
web/src/modules/user/documentation/reducer.ts
web/src/modules/user/documentation/sagas/docTradeUserApiFetchSaga.test.ts
web/src/modules/user/documentation/sagas/docTradeUserApiFetchSaga.ts
web/src/modules/user/documentation/sagas/index.ts
web/src/modules/user/documentation/selectors.ts
web/src/modules/user/emailVerification/actions.ts
web/src/modules/user/emailVerification/index.ts
web/src/modules/user/emailVerification/reducer.ts
web/src/modules/user/emailVerification/sagas/EmailVerificationSaga.test.ts
web/src/modules/user/emailVerification/sagas/emailVerificationSaga.ts
web/src/modules/user/emailVerification/sagas/index.ts
web/src/modules/user/emailVerification/selectors.ts
web/src/modules/user/history/actions.ts
web/src/modules/user/history/index.ts
web/src/modules/user/history/reducer.ts
web/src/modules/user/history/sagas/historyPushSaga.ts
web/src/modules/user/history/sagas/historySaga.test.ts
web/src/modules/user/history/sagas/historySaga.ts
web/src/modules/user/history/sagas/index.ts
web/src/modules/user/history/selectors.ts
web/src/modules/user/history/types.ts
web/src/modules/user/internalTransfers/actions.ts
web/src/modules/user/internalTransfers/index.ts
web/src/modules/user/internalTransfers/reducer.ts
web/src/modules/user/internalTransfers/sagas/createInternalTransfersSaga.ts
web/src/modules/user/internalTransfers/sagas/index.ts
web/src/modules/user/internalTransfers/selectors.ts
web/src/modules/user/kyc/addresses/actions.ts
web/src/modules/user/kyc/addresses/index.ts
web/src/modules/user/kyc/addresses/reducer.ts
web/src/modules/user/kyc/addresses/sagas/index.ts
web/src/modules/user/kyc/addresses/sagas/sendAddressesSaga.test.ts
web/src/modules/user/kyc/addresses/sagas/sendAddressesSaga.ts
web/src/modules/user/kyc/addresses/selectors.test.ts
web/src/modules/user/kyc/addresses/selectors.ts
web/src/modules/user/kyc/documents/actions.ts
web/src/modules/user/kyc/documents/index.ts
web/src/modules/user/kyc/documents/reducer.ts
web/src/modules/user/kyc/documents/sagas/index.ts
web/src/modules/user/kyc/documents/sagas/sendDocumentsSaga.test.ts
web/src/modules/user/kyc/documents/sagas/sendDocumentsSaga.ts
web/src/modules/user/kyc/documents/selectors.ts
web/src/modules/user/kyc/identity/actions.ts
web/src/modules/user/kyc/identity/index.ts
web/src/modules/user/kyc/identity/reducer.ts
web/src/modules/user/kyc/identity/sagas/editIdentity.test.ts
web/src/modules/user/kyc/identity/sagas/editIdentitySaga.ts
web/src/modules/user/kyc/identity/sagas/index.ts
web/src/modules/user/kyc/identity/sagas/sendIdentity.test.ts
web/src/modules/user/kyc/identity/sagas/sendIdentitySaga.ts
web/src/modules/user/kyc/identity/selectors.ts
web/src/modules/user/kyc/index.ts
web/src/modules/user/kyc/label/actions.ts
web/src/modules/user/kyc/label/index.ts
web/src/modules/user/kyc/label/reducer.ts
web/src/modules/user/kyc/label/sagas/index.ts
web/src/modules/user/kyc/label/sagas/labelSaga.test.ts
web/src/modules/user/kyc/label/sagas/labelSaga.ts
web/src/modules/user/kyc/label/selectors.ts
web/src/modules/user/kyc/phone/actions.ts
web/src/modules/user/kyc/phone/index.ts
web/src/modules/user/kyc/phone/reducer.ts
web/src/modules/user/kyc/phone/sagas/confirmPhoneSaga.ts
web/src/modules/user/kyc/phone/sagas/index.ts
web/src/modules/user/kyc/phone/sagas/resendCodeSaga.ts
web/src/modules/user/kyc/phone/sagas/sendCodeSaga.test.ts
web/src/modules/user/kyc/phone/sagas/sendCodeSaga.ts
web/src/modules/user/kyc/phone/selectors.ts
web/src/modules/user/openOrders/actions.ts
web/src/modules/user/openOrders/helpers.ts
web/src/modules/user/openOrders/index.ts
web/src/modules/user/openOrders/reducer.ts
web/src/modules/user/openOrders/sagas/index.ts
web/src/modules/user/openOrders/sagas/openOrdersCancelSaga.test.ts
web/src/modules/user/openOrders/sagas/openOrdersCancelSaga.ts
web/src/modules/user/openOrders/sagas/userOpenOrdersFetchSaga.test.ts
web/src/modules/user/openOrders/sagas/userOpenOrdersFetchSaga.ts
web/src/modules/user/openOrders/selectors.ts
web/src/modules/user/orders/actions.ts
web/src/modules/user/orders/index.ts
web/src/modules/user/orders/reducer.ts
web/src/modules/user/orders/sagas/index.ts
web/src/modules/user/orders/sagas/ordersExecuteSaga.test.ts
web/src/modules/user/orders/sagas/ordersExecuteSaga.ts
web/src/modules/user/orders/selectors.ts
web/src/modules/user/ordersHistory/actions.ts
web/src/modules/user/ordersHistory/helpers.ts
web/src/modules/user/ordersHistory/index.ts
web/src/modules/user/ordersHistory/reducer.ts
web/src/modules/user/ordersHistory/sagas/index.ts
web/src/modules/user/ordersHistory/sagas/ordersCancelAllSaga.test.ts
web/src/modules/user/ordersHistory/sagas/ordersCancelAllSaga.ts
web/src/modules/user/ordersHistory/sagas/ordersHistoryCancelSaga.test.ts
web/src/modules/user/ordersHistory/sagas/ordersHistoryCancelSaga.ts
web/src/modules/user/ordersHistory/sagas/ordersHistorySaga.test.ts
web/src/modules/user/ordersHistory/sagas/ordersHistorySaga.ts
web/src/modules/user/ordersHistory/selectors.ts
web/src/modules/user/password/actions.ts
web/src/modules/user/password/index.ts
web/src/modules/user/password/reducer.ts
web/src/modules/user/password/sagas/changeForgotPasswordSaga.test.ts
web/src/modules/user/password/sagas/changeForgotPasswordSaga.ts
web/src/modules/user/password/sagas/forgotPasswordSaga.test.ts
web/src/modules/user/password/sagas/forgotPasswordSaga.ts
web/src/modules/user/password/sagas/index.ts
web/src/modules/user/password/selectors.ts
web/src/modules/user/profile/actions.ts
web/src/modules/user/profile/index.ts
web/src/modules/user/profile/reducer.ts
web/src/modules/user/profile/sagas/changePasswordSaga.test.ts
web/src/modules/user/profile/sagas/changePasswordSaga.ts
web/src/modules/user/profile/sagas/changeUserDataSaga.test.ts
web/src/modules/user/profile/sagas/changeUserDataSaga.ts
web/src/modules/user/profile/sagas/generate2faQRSaga.test.ts
web/src/modules/user/profile/sagas/generate2faQRSaga.ts
web/src/modules/user/profile/sagas/index.ts
web/src/modules/user/profile/sagas/toggle2faSaga.test.ts
web/src/modules/user/profile/sagas/toggle2faSaga.ts
web/src/modules/user/profile/sagas/userSaga.test.ts
web/src/modules/user/profile/sagas/userSaga.ts
web/src/modules/user/profile/selectors.ts
web/src/modules/user/profile/types.ts
web/src/modules/user/quickExchange/actions.ts
web/src/modules/user/quickExchange/index.ts
web/src/modules/user/quickExchange/reducer.ts
web/src/modules/user/quickExchange/sagas/createQuickExchangeOrderSaga.ts
web/src/modules/user/quickExchange/sagas/index.ts
web/src/modules/user/quickExchange/selectors.ts
web/src/modules/user/userActivity/actions.ts
web/src/modules/user/userActivity/index.ts
web/src/modules/user/userActivity/reducer.ts
web/src/modules/user/userActivity/sagas/index.ts
web/src/modules/user/userActivity/sagas/userActivitySaga.test.ts
web/src/modules/user/userActivity/sagas/userActivitySaga.ts
web/src/modules/user/userActivity/selectors.ts
web/src/modules/user/wallets/actions.ts
web/src/modules/user/wallets/index.ts
web/src/modules/user/wallets/reducer.ts
web/src/modules/user/wallets/sagas/index.ts
web/src/modules/user/wallets/sagas/walletsAddressSaga.ts
web/src/modules/user/wallets/sagas/walletsSaga.test.ts
web/src/modules/user/wallets/sagas/walletsSaga.ts
web/src/modules/user/wallets/sagas/walletsWithdrawSaga.ts
web/src/modules/user/wallets/selectors.ts
web/src/modules/user/withdrawLimit/actions.ts
web/src/modules/user/withdrawLimit/index.ts
web/src/modules/user/withdrawLimit/reducer.ts
web/src/modules/user/withdrawLimit/sagas/index.ts
web/src/modules/user/withdrawLimit/sagas/withdrawLimitSaga.test.ts
web/src/modules/user/withdrawLimit/sagas/withdrawLimitSaga.ts
web/src/modules/user/withdrawLimit/selectors.ts
web/src/routes/Layout/index.tsx
web/src/screens/ConfirmScreen/index.tsx
web/src/screens/EmailVerification/index.tsx
web/src/screens/Fees/Fees.tsx
web/src/screens/ForgotPassword/index.tsx
web/src/screens/History/index.tsx
web/src/screens/MagicLinkScreen/index.tsx
web/src/screens/MaintenanceScreen/index.tsx
web/src/screens/OrdersTabScreen/index.tsx
web/src/screens/RestrictedScreen/index.tsx
web/src/screens/SetupScreen/index.tsx
web/src/screens/SignInScreen/index.tsx
web/src/screens/SignUpScreen/index.tsx
web/src/screens/TradingScreen/index.tsx
web/src/screens/WalletsScreen/Balance.tsx
web/src/screens/WalletsScreen/InvoiceExplanation.tsx
web/src/screens/WalletsScreen/helpers.ts
web/src/translations/index.ts
