shared/build
web/build
web/public
web/docs
web/mocks
web/scripts
web/spec
web/src/api
web/src/app
!web/src/assets
web/src/assets/*
!web/src/assets/icons
web/src/charting_library
web/src/components
# web/src/constants
!web/src/containers
web/src/containers/*
!web/src/containers/NavBar
!web/src/containers/Header
web/src/containers/Header/*
!web/src/containers/Header/HeaderNavigation
!web/src/containers/Sidebar
web/src/custom
web/src/filters
web/src/helpers
web/src/hooks
web/src/mobile
web/src/modules
web/src/routes
!web/src/screens
web/src/screens/*
!web/src/screens/NewLandingScreen
web/src/styles
web/src/themes
web/src/translations
web/src/App.test.tsx
web/src/App.tsx
