/.npmrc

.domains

# dependencies
/node_modules

# testing
/coverage

# production
/.idea
/android
/ios
.gradle/

# misc
.DS_Store
/.env.local
/.env
env.js
/.envrc

# sonic
bin/
.vscode

# environment config
web/public/config/env.js

log/

# baseapp
web/.DS_Store
web/node_modules
web/build
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/.env.local
web/.env.development.local
web/.env.test.local
web/.env.production.local
web/.env
