# misc
.envrc
.idea
.DS_Store

log/

.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
#!.yarn/versions

market-docs/build
shared/build
uibitz/build
web/public/config/env.js
web/build
web/**/*.postcss.d.ts
web/statoscope-reports
