.text2X {
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 22px;
  max-width: 184px;
  text-align: center;
}

.textSm {
  font-size: 12px;
}

.primaryColor {
  color: var(--primary-text-color);
}

.secondaryColor {
  color: var(--secondary-contrast-cta-color);
}

.warningColor {
  color: var(--system-yellow);
}

.successColor {
  color: var(--system-green);
}

.failedColor {
  color: var(--system-red);
}

.capitalize {
  text-transform: capitalize;
}

.bold {
  font-weight: 500;
}
