.text2X {
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 22px;
  max-width: 184px;
  text-align: center;
}

.secondaryColor {
  color: var(--secondary-contrast-cta-color);
}

.warningColor {
  color: var(--system-yellow);
}

.successColor {
  color: var(--bids);
}

.failedColor {
  color: var(--asks);
}

.capitalize {
  text-transform: capitalize;
}
