.cr-mobile-wallets-buttons {
  background: var(--body-background-color);
  bottom: var(--mobile-footer-height);
  height: var(--mobile-bottom-buttons-height);
  left: 0;
  overflow-x: auto;
  padding: 0 17px;
  position: fixed;
  right: 0;
  z-index: 9999;

  &::-webkit-scrollbar {
    height: 0;
    scrollbar-width: none;
  }
}
