:root {
  --logout-button-icon-fill: rgb(153, 153, 153);
  --logout-button-icon-fill-hover: rgb(128, 128, 128);
}

:global(.light-mode) {
  --logout-button-icon-fill: rgb(32, 36, 114);
  --logout-button-icon-fill-hover: rgb(39, 44, 140);
}

.button {
  background: transparent;
  border: 0;
  padding: 0;

  & svg {
    fill: var(--logout-button-icon-fill);
  }

  &:hover svg {
    fill: var(--logout-button-icon-fill-hover);
  }
}
