<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2021-10-07T17:08:53Z</date>
	<key>WorkspacePath</key>
	<string>/Users/cognize/bz/devdax/baseapp/web/ios/App/App.xcworkspace</string>
</dict>
</plist>
