.container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.sm {
  max-width: 448px;
}

.md {
  max-width: 550px;
}

.lg {
  max-width: 960px;
}

.xl {
  max-width: 1160px;
}

.fullhd {
  max-width: 1920px;
}
