.projectInfo {
  background-color: #40454c;
  display: flex;
  justify-content: center;
  padding: 74px 0;
}

:global(.light-mode) .projectInfo {
  background-color: #fff;
}

.item {
  color: #ccc;
  margin: 0 52px;
  position: relative;
  text-align: center;
  z-index: 2;
}

:global(.light-mode) .item {
  color: #475ac0;
}

.itemValue {
  display: block;
  font-size: 68px;
  font-weight: bold;
  line-height: 1;
}

.itemTitle {
  font-size: 20px;
}
