.currency {
  align-items: center;
  display: inline-flex;

  & .blockchainIcon {
    display: inline-block;
    height: 1em;
    margin: 0 2px;
    width: 1em;

    & img {
      display: block;
      height: 100%;
      margin-right: 0 !important;
      width: 100% !important;
    }
  }
}
