.currency,
.currencyWithNetwork {
  display: inline-block;
  margin: 0 2px;
}

.currencyWithNetwork {
  align-items: flex-end;
  display: inline-flex;
  flex-direction: column;
  line-height: 0.8 !important;
  vertical-align: middle;

  /* for CombinedOrderBook */
  span {
    line-height: 0.8 !important;
  }
}

.network {
  font-size: 65%;
  opacity: 0.8;
}
