.moneyInputNumber > input {
  padding-right: 40px;
}

.moneyInputCurrency {
  align-items: center;
  display: inline-flex;
  padding: 0;
  position: absolute;
  right: 0.75rem;
  top: calc((var(--control-height) - 24px) / 2);
}
