.moneyInputNumber > input {
  padding-right: 40px;
}

.moneyInputCurrency {
  align-items: center;
  bottom: 0;
  display: inline-flex;
  padding: 0;
  position: absolute;
  right: 0.75rem;
  top: 0;
}
