.feesRect {
  background-color: var(--primary-cta-color);
  border-radius: var(--border-radius);
  color: var(--text-contrast-color);
  font-weight: bold;
  min-height: 64px;
  min-width: 64px;

  & > span {
    opacity: 1;
  }
}

.feesDivider {
  max-width: calc(var(--gap) * 16);
  min-width: calc(var(--gap) * 2);
}
