.container {
  margin: 0 auto;
  position: relative;
  width: 100%;

  @media (--breakpoint-up-md) {
    width: 720px;
  }

  @media (--breakpoint-up-lg) {
    width: 960px;
  }

  @media (--breakpoint-up-xl) {
    width: 1140px;
  }

  @media (--breakpoint-up-xxl) {
    width: 1320px;
  }

  @media (--breakpoint-up-xxxl) {
    width: 1560px;
  }
}
