.container {
  margin: 0 auto;
  position: relative;
  width: 100%;

  @media (width >= 768px) {
    width: 720px;
  }

  @media (width >= 992px) {
    width: 960px;
  }

  @media (width >= 1200px) {
    width: 1140px;
  }

  @media (width >= 1400px) {
    width: 1320px;
  }

  @media (width >= 1600px) {
    width: 1560px;
  }
}
