.iconButton {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  color: var(--icons);
  outline-color: var(--input-border-color-active);
  padding: var(--gap);

  &:hover:not(:disabled) {
    color: var(--primary-text-color);
  }

  &:not(&NoFill) > svg {
    fill: currentcolor;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.48;
  }
}
