.toggler {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: block;
  height: 16px;
  margin-right: 18px;
  padding: 0;
  width: 18px;
}

.togglerItem {
  background: var(--header-toggle-menu-icon);
  border-radius: 5px;
  display: block;
  height: 2px;
  margin-bottom: 5px;
  transition: all 0.2s linear;
  width: 18px;
}
