:root {
  --customization-background-color: #fff;
  --customization-background-cta-color: #f5f5f5;
  --customization-dropdown-background-color: #ecf0f7;
  --customization-primary-text-color: #212121;
  --customization-contrast-text-color: #5b6488;
  --customization-primary-cta-color: #3c78e0;
  --customization-system-green: #54b489;
  --customization-system-red: #e85e59;
  --customization-divider-color: rgba(91, 100, 136, 0.12);
  --customization-icon-circle-border-color: rgba(172, 172, 172, 0.3);
  --customization-contrast-text-color-0-18: rgba(91, 100, 136, 0.18);
  --customization-shadow: 0 2px 40px rgba(0, 0, 0, 0.2);
}
