.icon {
  display: inline-block;
  position: relative;

  & img {
    margin-right: 0 !important;
  }

  & .blockchainIcon {
    bottom: -10%;
    height: 50%;
    position: absolute;
    right: -10%;
    width: 50%;

    & img {
      height: 100%;
      margin-right: 0 !important;
      width: 100% !important;
    }
  }
}
