@import './DocumentationScreen/DocumentationScreen.pcss';
@import './ChangeForgottenPasswordScreen/ChangeForgottenPasswordScreen.pcss';
@import './TradingScreen/TradingScreen.pcss';
@import './ForgotPassword/ForgotPassword.pcss';
@import './History/HistoryTab.pcss';
@import './ConfirmScreen/ConfirmScreen.pcss';
@import './ProfileScreen/ProfileScreen.pcss';
@import './ProfileTwoFactorAuthScreen/ProfileTwoFactorAuthScreen.pcss';
@import './OrdersTabScreen/OrdersTabScreen.pcss';
@import './RestrictedScreen/RestrictedScreen.pcss';
@import './MaintenanceScreen/MaintenanceScreen.pcss';
