.card {
  border-radius: var(--border-radius);
  box-shadow: 3px 3px 10px 3px var(--shadow-color-level-1);
}

.cardMobile {
  margin-top: calc(var(--gap) * 0.5);
}

.cardHeader {
  border-bottom: 1px solid var(--tab-panel-border-line-color);

  h3,
  h4 {
    margin: 0;
  }
}
