.cardDesktop {
  border-radius: var(--border-radius);
  box-shadow: 3px 3px 10px 3px var(--shadow-color-level-1);
  overflow: hidden;

  .cardHeader {
    border-bottom: 1px solid var(--tab-panel-border-line-color);
  }
}

.cardMobile {
  margin-top: calc(var(--gap) * 0.5);
}

.cardHeader {
  h3,
  h4 {
    margin: 0;
  }
}

.cardMd {
  max-width: 550px;
}

.cardLg {
  max-width: 960px;
}
