.feesTable {
  text-align: left;

  th,
  td {
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
      width: initial;
    }

    @media (--breakpoint-up-md) {
      &:nth-child(n+4) {
        text-align: right;
      }
    }

    @media (--breakpoint-down-md) {
      &:nth-child(n+4) {
        text-align: right;
      }
    }
  }

  @media (--breakpoint-down-md) {
    th {
      text-align: center !important;
    }
  }
}
