.feesTable {
  text-align: left;

  th,
  td {
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0 !important;
      width: initial;
    }

    @media (--breakpoint-up-md) {
      &:nth-child(n+4) {
        text-align: right !important;
      }
    }

    @media (--breakpoint-down-md) {
      &:nth-child(n+2) {
        text-align: right !important;
      }
    }
  }
}
