name: Build and push container

on:
  release:
    types: [published]

  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  IMAGE_NAME: ${{ secrets.NEXUS_HOST }}/baseapp

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.IMAGE_NAME }}
          tags: |
            type=match,pattern=v(.*),group=1
            type=raw,value=latest,enable=${{ !contains(github.ref, '-staging.') }}
          flavor: |
            latest=false
            prefix=
            suffix=
      - name: Login to Nexus
        uses: docker/login-action@v2
        with:
          registry: ${{ secrets.NEXUS_HOST }}
          username: ${{ secrets.NEXUS_USERNAME }}
          password: ${{ secrets.NEXUS_PASSWORD }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Build and push
        uses: docker/build-push-action@v3
        env:
          IS_PRODUCTION: ${{ !contains(steps.meta.outputs.tags, '-staging.') }}
        with:
          platforms: linux/amd64 #linux/amd64,linux/arm64
          push: true
          builder: ${{ steps.buildx.outputs.name }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
