.poweredByOpenwareBlock {
  background-color: #1f242b;
  color: #666;
  font-size: 14px;
  padding: 18px 0;
  text-align: center;

  & a {
    color: #485bc1;
    text-decoration: underline;
  }
}

:global(.light-mode) .poweredByOpenwareBlock {
  background-color: #fff;
}
