/docs
/mocks
/node_modules
/public
/scripts
/spec

/src/api
/src/app
!/src/assets
/src/assets/*
!/src/assets/icons
/src/charting_library
/src/components
# /src/constants
!/src/containers
/src/containers/*
!/src/containers/NavBar
!/src/containers/Header
/src/containers/Header/*
!/src/containers/Header/HeaderNavigation
!/src/containers/Sidebar
/src/custom
/src/filters
/src/helpers
/src/hooks
/src/mobile
/src/modules
/src/routes
!/src/screens
/src/screens/*
!/src/screens/NewLandingScreen
/src/styles
/src/themes
/src/translations

/src/App.test.tsx
/src/App.tsx
